<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AntiXSS" version="4.3.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net461" />
  <package id="Hangfire" version="1.7.9" targetFramework="net461" />
  <package id="Hangfire.Core" version="1.7.9" targetFramework="net461" />
  <package id="Hangfire.SqlServer" version="1.7.9" targetFramework="net461" />
  <package id="Hangfire.Unity" version="3.0.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc" version="3.0.50813.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="1.0.20105.408" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="1.0.20105.408" targetFramework="net461" />
  <package id="Microsoft.Owin" version="3.0.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.0" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="PagedList" version="1.17.0.0" targetFramework="net461" />
  <package id="PagedList.Mvc" version="4.5.0.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="Unity" version="5.11.3" targetFramework="net461" />
  <package id="Unity.Abstractions" version="3.3.0" targetFramework="net461" />
  <package id="Unity.AspNet.WebApi" version="5.0.13" targetFramework="net461" />
  <package id="Unity.Container" version="5.8.6" targetFramework="net461" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net461" />
</packages>