@model List<FacultyV3.Core.Models.Entities.Category_News>
@{ 
    Layout = null;
}

<div class="col-md-3">
    <!-- start sidebar -->
    <aside class="mu-sidebar">


        @foreach (var item in Model)
        {
            <div class="mu-single-sidebar">
                <h3>@item.Meta_Name</h3>
                <ul class="mu-sidebar-catg">
                    @foreach (var chil in item.Children)
                    {
                    <li><a href="@chil.Meta_Value">@chil.Meta_Name</a></li>
                    }
                    @*<li><a href="#">Thông tin - Thông báo</a></li>
                    <li><a href="">Tin tức - Sự kiện</a></li>
                    <li><a href="">Tuyển dụng - Việc làm</a></li>

                    <li><a href="">Tin từ Công đoàn</a></li>
                    <li><a href="">Tin từ Đoàn thanh niên</a></li>*@
                </ul>
            </div>
        }
        <!-- start single sidebar -->
        @*<div class="mu-single-sidebar">
            <h3>Thông Báo</h3>
            <ul class="mu-sidebar-catg">
                <li><a href="#">Thông tin - Thông báo</a></li>
                <li><a href="">Tin tức - Sự kiện</a></li>
                <li><a href="">Tuyển dụng - Việc làm</a></li>

                <li><a href="">Tin từ Công đoàn</a></li>
                <li><a href="">Tin từ Đoàn thanh niên</a></li>
            </ul>
        </div>*@
        <!-- end single sidebar -->
        <!-- start single sidebar -->
        @*<div class="mu-single-sidebar">
            <h3>Tin từ Bộ môn</h3>
            <ul class="mu-sidebar-catg">
                <li><a href="#">Công nghệ thông tin</a></li>
                <li><a href="">Nuôi trồng thủy sản</a></li>
                <li><a href="">Quản lý đất đai</a></li>
                <li><a href="">Khoa học môi trường</a></li>
            </ul>
        </div>*@
        <!-- end single sidebar -->
    </aside>
    <!-- / end sidebar -->
</div>
