@model List<FacultyV3.Core.Models.Entities.Banner>
<link href="~/Content/Client/assets/css/buttonAnimation.css" rel="stylesheet" />
<style>
    /** {
        box-sizing: border-box;
    }*/

    .pulsing:before, .pulsing:after {
        content: "";
        position: absolute;
    }

    div .button-pulse {
        margin-top: 10px;
        position: absolute;
        float: left;
        margin-left: 10px;
    }

    /*.button__wrapper {
        border-radius: 50% !important;
    }*/
</style>
<section id="mu-slider">
    <!-- Start single slider item -->
    @foreach (var item in Model)
    {
        <div class="mu-slider-single" style="width: 200px !important">
            <a href="@item.Url_Link" target="_blank">

                <div class="mu-slider-img">
                    <figure>
                        <img src="@item.Url_Image" alt="img" />
                    </figure>
                </div>
                @*<div class="mu-slider-content">
                        <a href="#" class="mu-read-more-btn" style="margin-top: 260px; " tabindex="0">Liên kết</a>
                    </div>*@
                @if (item.Url_Link != null)
                {
                    <div class="item button-pulse" style="--bg-color: #179BD7;">
                        <div class="button__wrapper">
                            <div class="pulsing"></div>

                            <button style="padding: 0;">Click vào ảnh!</button>

                        </div>
                    </div>
                }

            </a>
        </div>
    }
</section>
