USE [master]
GO
/****** Object:  Database [FacultyV3]    Script Date: 03/10/2020 11:43:04 PM ******/
CREATE DATABASE [FacultyV3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FacultyV3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FacultyV3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FacultyV3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FacultyV3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FacultyV3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FacultyV3]
GO
/****** Object:  Schema [HangFire]    Script Date: 03/10/2020 11:43:04 PM ******/
CREATE SCHEMA [HangFire]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 03/10/2020 11:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[About_Us]    Script Date: 03/10/2020 11:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[About_Us](
	[Id] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Url_Image] [nvarchar](300) NOT NULL,
	[Url_Video] [nvarchar](300) NOT NULL,
	[Create_At] [datetime] NOT NULL,
	[Update_At] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.About_Us] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 03/10/2020 11:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](256) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Create_At] [datetime] NOT NULL,
	[Update_At] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Account] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ads]    Script Date: 03/10/2020 11:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ads](
	[Id] [uniqueidentifier] NOT NULL,
	[Url_Image] [nvarchar](max) NOT NULL,
	[Url_Link] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[Create_At] [datetime] NOT NULL,
	[Update_At] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Ads] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banner]    Script Date: 03/10/2020 11:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banner](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](300) NOT NULL,
	[Title_Short] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Url_Image] [nvarchar](300) NOT NULL,
	[Url_Link] [nvarchar](300) NULL,
	[Create_At] [datetime] NOT NULL,
	[Update_At] [datetime] NOT NULL,
	[Serial] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Banner] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category_Menu]    Script Date: 03/10/2020 11:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category_Menu](
	[Id] [uniqueidentifier] NOT NULL,
	[Meta_Name] [nvarchar](200) NOT NULL,
	[Meta_Value] [nvarchar](200) NOT NULL,
	[Create_At] [datetime] NOT NULL,
	[Update_At] [datetime] NOT NULL,
	[Parent_Id] [uniqueidentifier] NULL,
	[Serial] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Category_Menu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category_News]    Script Date: 03/10/2020 11:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category_News](
	[Id] [uniqueidentifier] NOT NULL,
	[Meta_Name] [nvarchar](200) NOT NULL,
	[Meta_Value] [nvarchar](200) NOT NULL,
	[Create_At] [datetime] NOT NULL,
	[Update_At] [datetime] NOT NULL,
	[Parent_Id] [uniqueidentifier] NULL,
	[Serial] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Category_News] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 03/10/2020 11:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[Id] [uniqueidentifier] NOT NULL,
	[Meta_Name] [nvarchar](100) NOT NULL,
	[Meta_Value] [nvarchar](max) NOT NULL,
	[Create_At] [datetime] NOT NULL,
	[Update_At] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Contact] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Count]    Script Date: 03/10/2020 11:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Count](
	[Id] [uniqueidentifier] NOT NULL,
	[Meta_Name] [nvarchar](100) NOT NULL,
	[Meta_Value] [nvarchar](300) NOT NULL,
	[Create_At] [datetime] NOT NULL,
	[Update_At] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Count] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detail_Menu]    Script Date: 03/10/2020 11:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detail_Menu](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](1024) NOT NULL,
	[Description] [nvarchar](1024) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Serial] [int] NOT NULL,
	[Status] [bit] NOT NULL,
	[Url_Image] [nvarchar](300) NULL,
	[Url_Video] [nvarchar](300) NULL,
	[Create_At] [datetime] NOT NULL,
	[Update_At] [datetime] NOT NULL,
	[Category_Menu_Id] [uniqueidentifier] NOT NULL,
	[Account_ID] [uniqueidentifier] NOT NULL,
	[Url_LinkGoogle] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Detail_Menu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detail_News]    Script Date: 03/10/2020 11:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detail_News](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](1024) NOT NULL,
	[Description] [nvarchar](1024) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Serial] [int] NOT NULL,
	[Status] [bit] NOT NULL,
	[Url_Image] [nvarchar](300) NULL,
	[Url_Video] [nvarchar](300) NULL,
	[Create_At] [datetime] NOT NULL,
	[Update_At] [datetime] NOT NULL,
	[Category_News_Id] [uniqueidentifier] NOT NULL,
	[Account_ID] [uniqueidentifier] NOT NULL,
	[Url_LinkGoogle] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Detail_News] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lecturer]    Script Date: 03/10/2020 11:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecturer](
	[Id] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Degree] [nvarchar](100) NOT NULL,
	[Url_Image] [nvarchar](200) NOT NULL,
	[Url_Facebook] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](12) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Serial] [int] NOT NULL,
	[Create_At] [datetime] NOT NULL,
	[Update_At] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Lecturer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 03/10/2020 11:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[Id] [uniqueidentifier] NOT NULL,
	[Meta_Name] [nvarchar](100) NOT NULL,
	[Meta_Value] [nvarchar](300) NOT NULL,
	[Create_At] [datetime] NOT NULL,
	[Update_At] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Service] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stickey]    Script Date: 03/10/2020 11:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stickey](
	[Id] [uniqueidentifier] NOT NULL,
	[Meta_Name] [nvarchar](100) NOT NULL,
	[Meta_Value] [nvarchar](300) NOT NULL,
	[Create_At] [datetime] NOT NULL,
	[Update_At] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Stickey] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 03/10/2020 11:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Id] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Url_Image] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Serial] [int] NOT NULL,
	[Create_At] [datetime] NOT NULL,
	[Update_At] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Student] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Video]    Script Date: 03/10/2020 11:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Video](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[Url_Video] [nvarchar](300) NOT NULL,
	[Url_Image] [nvarchar](300) NOT NULL,
	[Serial] [int] NOT NULL,
	[Create_At] [datetime] NOT NULL,
	[Update_At] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Video] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[AggregatedCounter]    Script Date: 03/10/2020 11:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[AggregatedCounter](
	[Key] [nvarchar](100) NOT NULL,
	[Value] [bigint] NOT NULL,
	[ExpireAt] [datetime] NULL,
 CONSTRAINT [PK_HangFire_CounterAggregated] PRIMARY KEY CLUSTERED 
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Counter]    Script Date: 03/10/2020 11:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Counter](
	[Key] [nvarchar](100) NOT NULL,
	[Value] [int] NOT NULL,
	[ExpireAt] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CX_HangFire_Counter]    Script Date: 03/10/2020 11:43:04 PM ******/
CREATE CLUSTERED INDEX [CX_HangFire_Counter] ON [HangFire].[Counter]
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Hash]    Script Date: 03/10/2020 11:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Hash](
	[Key] [nvarchar](100) NOT NULL,
	[Field] [nvarchar](100) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[ExpireAt] [datetime2](7) NULL,
 CONSTRAINT [PK_HangFire_Hash] PRIMARY KEY CLUSTERED 
(
	[Key] ASC,
	[Field] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Job]    Script Date: 03/10/2020 11:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Job](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[StateId] [bigint] NULL,
	[StateName] [nvarchar](20) NULL,
	[InvocationData] [nvarchar](max) NOT NULL,
	[Arguments] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ExpireAt] [datetime] NULL,
 CONSTRAINT [PK_HangFire_Job] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[JobParameter]    Script Date: 03/10/2020 11:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[JobParameter](
	[JobId] [bigint] NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_HangFire_JobParameter] PRIMARY KEY CLUSTERED 
(
	[JobId] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[JobQueue]    Script Date: 03/10/2020 11:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[JobQueue](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JobId] [bigint] NOT NULL,
	[Queue] [nvarchar](50) NOT NULL,
	[FetchedAt] [datetime] NULL,
 CONSTRAINT [PK_HangFire_JobQueue] PRIMARY KEY CLUSTERED 
(
	[Queue] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[List]    Script Date: 03/10/2020 11:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[List](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Key] [nvarchar](100) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[ExpireAt] [datetime] NULL,
 CONSTRAINT [PK_HangFire_List] PRIMARY KEY CLUSTERED 
(
	[Key] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Schema]    Script Date: 03/10/2020 11:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Schema](
	[Version] [int] NOT NULL,
 CONSTRAINT [PK_HangFire_Schema] PRIMARY KEY CLUSTERED 
(
	[Version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Server]    Script Date: 03/10/2020 11:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Server](
	[Id] [nvarchar](100) NOT NULL,
	[Data] [nvarchar](max) NULL,
	[LastHeartbeat] [datetime] NOT NULL,
 CONSTRAINT [PK_HangFire_Server] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Set]    Script Date: 03/10/2020 11:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Set](
	[Key] [nvarchar](100) NOT NULL,
	[Score] [float] NOT NULL,
	[Value] [nvarchar](256) NOT NULL,
	[ExpireAt] [datetime] NULL,
 CONSTRAINT [PK_HangFire_Set] PRIMARY KEY CLUSTERED 
(
	[Key] ASC,
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[State]    Script Date: 03/10/2020 11:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[State](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[JobId] [bigint] NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Reason] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Data] [nvarchar](max) NULL,
 CONSTRAINT [PK_HangFire_State] PRIMARY KEY CLUSTERED 
(
	[JobId] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Account] ([Id], [Email], [Password], [FullName], [Create_At], [Update_At]) VALUES (N'32e6c2e0-5304-4330-b9d3-8978b4803e61', N'admin@gmail.com', N'admin', N'Administrator', CAST(N'2020-03-08T00:00:00.000' AS DateTime), CAST(N'2020-03-08T00:00:00.000' AS DateTime))
INSERT [dbo].[Ads] ([Id], [Url_Image], [Url_Link], [Status], [Create_At], [Update_At]) VALUES (N'fe3ddcdf-a40f-4391-9f4a-ab730113db05', N'http://localhost:64062/Media/Uploads/1A_DSC1097.jpg', N'123214444444444444', 0, CAST(N'2020-03-03T23:44:21.593' AS DateTime), CAST(N'2020-03-04T22:45:40.637' AS DateTime))
INSERT [dbo].[Banner] ([Id], [Title], [Title_Short], [Description], [Url_Image], [Url_Link], [Create_At], [Update_At], [Serial]) VALUES (N'16f69715-daae-4b2d-a0fd-ab71009da6a8', N'Banner1', N'Banner1', N'asdf', N'http://localhost:64062/Media/Uploads/Banner/banner6_1.jpg', N'http://tuyensinh.dthu.edu.vn/New.aspx?id=365', CAST(N'2020-03-01T16:33:59.420' AS DateTime), CAST(N'2020-03-10T11:01:58.163' AS DateTime), 0)
INSERT [dbo].[Banner] ([Id], [Title], [Title_Short], [Description], [Url_Image], [Url_Link], [Create_At], [Update_At], [Serial]) VALUES (N'13954b45-d0b3-40c0-b059-ab7800bffaa1', N'Banner2', N'Banner2', N'Banner2', N'http://localhost:64062/Media/Uploads/Banner/banner5.jpg', NULL, CAST(N'2020-03-08T18:38:58.457' AS DateTime), CAST(N'2020-03-08T18:49:43.533' AS DateTime), 0)
INSERT [dbo].[Banner] ([Id], [Title], [Title_Short], [Description], [Url_Image], [Url_Link], [Create_At], [Update_At], [Serial]) VALUES (N'2b58417f-edcf-4526-938c-ab7a00fdc226', N'Banner2', N'Banner2Banner2', N'Banner2', N'http://localhost:64062/Media/Uploads/Party_Cell/chibo2.jpg', N'/Detail_Menu/DetailMenu/1258f792-dfda-4b5e-b15a-ab7a00f7228d', CAST(N'2020-03-10T22:23:54.363' AS DateTime), CAST(N'2020-03-10T22:32:53.660' AS DateTime), 0)
INSERT [dbo].[Category_Menu] ([Id], [Meta_Name], [Meta_Value], [Create_At], [Update_At], [Parent_Id], [Serial]) VALUES (N'2d229f4e-48db-41ca-82b9-ab780070f076', N'Giới thiệu', N'javascript:void(0)', CAST(N'2020-03-08T13:51:11.967' AS DateTime), CAST(N'2020-03-09T00:47:47.310' AS DateTime), NULL, 0)
INSERT [dbo].[Category_Menu] ([Id], [Meta_Name], [Meta_Value], [Create_At], [Update_At], [Parent_Id], [Serial]) VALUES (N'79182ae2-daba-4e8a-90b1-ab7800710359', N'Giới thiệu khoa', N'http://localhost:64062/Detail_Menu/DetailMenu/34251e7f-79d1-4fc0-9ad7-ab7900db522a#', CAST(N'2020-03-08T13:51:28.083' AS DateTime), CAST(N'2020-03-09T21:36:00.527' AS DateTime), N'2d229f4e-48db-41ca-82b9-ab780070f076', 0)
INSERT [dbo].[Category_Menu] ([Id], [Meta_Name], [Meta_Value], [Create_At], [Update_At], [Parent_Id], [Serial]) VALUES (N'7441acf4-d0f1-4910-8b92-ab7800712de1', N'Cán bộ - Giảng viên', N'#', CAST(N'2020-03-08T13:52:04.377' AS DateTime), CAST(N'2020-03-08T22:38:26.327' AS DateTime), N'2d229f4e-48db-41ca-82b9-ab780070f076', 3)
INSERT [dbo].[Category_News] ([Id], [Meta_Name], [Meta_Value], [Create_At], [Update_At], [Parent_Id], [Serial]) VALUES (N'6af11ffd-ddee-4ffb-9b45-ab780093bb6f', N'Thông báo', N'#', CAST(N'2020-03-08T15:57:52.580' AS DateTime), CAST(N'2020-03-08T15:57:52.580' AS DateTime), NULL, 0)
INSERT [dbo].[Category_News] ([Id], [Meta_Name], [Meta_Value], [Create_At], [Update_At], [Parent_Id], [Serial]) VALUES (N'141867a2-0613-4c77-9ad1-ab780093d98e', N'Tin từ Bộ môn', N'#', CAST(N'2020-03-08T15:58:18.287' AS DateTime), CAST(N'2020-03-08T15:58:18.287' AS DateTime), NULL, 0)
INSERT [dbo].[Category_News] ([Id], [Meta_Name], [Meta_Value], [Create_At], [Update_At], [Parent_Id], [Serial]) VALUES (N'b524d073-0aa9-40f3-a65a-ab780093e860', N'Thông Tin - Thông Báo', N'/Detail_News/ListNewss', CAST(N'2020-03-08T15:58:30.933' AS DateTime), CAST(N'2020-03-10T21:49:56.427' AS DateTime), N'6af11ffd-ddee-4ffb-9b45-ab780093bb6f', 0)
INSERT [dbo].[Contact] ([Id], [Meta_Name], [Meta_Value], [Create_At], [Update_At]) VALUES (N'3a0848de-6260-46ed-ba5e-ab7300f289d1', N'Địa chỉ', N'783, Phạm Hữu Lầu, P.6, Tp.Cao Lãnh, Đồng Tháp', CAST(N'2020-03-03T21:43:03.307' AS DateTime), CAST(N'2020-03-08T20:00:13.410' AS DateTime))
INSERT [dbo].[Contact] ([Id], [Meta_Name], [Meta_Value], [Create_At], [Update_At]) VALUES (N'b042a370-04ca-465b-9ddc-ab7300f2a8b3', N'Số điện thoại', N'(0277) 3881518', CAST(N'2020-03-03T21:43:29.660' AS DateTime), CAST(N'2020-03-08T19:59:57.167' AS DateTime))
INSERT [dbo].[Contact] ([Id], [Meta_Name], [Meta_Value], [Create_At], [Update_At]) VALUES (N'7fcb2bed-0d24-44ba-9d48-ab7300f48b86', N'GoogleMap', N'https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15696.135513996134!2d105.644022!3d10.418884!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7ea6812b3aa8d308!2zS2hvYSBL4bu5IHRodeG6rXQgLSBDw7RuZyBuZ2jhu4cgLSBUcsaw4budbmcgxJBIIMSQ4buTbmcgVGjDoXA!5e0!3m2!1svi!2sus!4v1583689035142!5m2!1svi!2sus', CAST(N'2020-03-03T21:50:21.670' AS DateTime), CAST(N'2020-03-09T00:38:37.083' AS DateTime))
INSERT [dbo].[Count] ([Id], [Meta_Name], [Meta_Value], [Create_At], [Update_At]) VALUES (N'95a0f07f-9a8b-4400-a003-ab710104277b', N'NGÀNH ĐÀO TẠO', N'6', CAST(N'2020-03-01T22:47:11.553' AS DateTime), CAST(N'2020-03-04T22:52:28.010' AS DateTime))
INSERT [dbo].[Count] ([Id], [Meta_Name], [Meta_Value], [Create_At], [Update_At]) VALUES (N'7a5f224b-4009-4922-a4f4-ab710104343d', N'SINH VIÊN', N'700', CAST(N'2020-03-01T22:47:22.440' AS DateTime), CAST(N'2020-03-04T22:52:30.537' AS DateTime))
INSERT [dbo].[Count] ([Id], [Meta_Name], [Meta_Value], [Create_At], [Update_At]) VALUES (N'3268be3b-d1f4-4f79-96ac-ab7101043cd4', N'PHÒNG HỌC', N'65', CAST(N'2020-03-01T22:47:29.770' AS DateTime), CAST(N'2020-03-01T22:47:29.770' AS DateTime))
INSERT [dbo].[Lecturer] ([Id], [FullName], [Degree], [Url_Image], [Url_Facebook], [Phone], [Email], [Serial], [Create_At], [Update_At]) VALUES (N'42f2d72e-420e-4b3d-8104-ab7300bb889a', N'Nguyễn Hữu Long', N'Thạc sĩ khoa học', N'http://localhost:64062/Media/Uploads/Teacher/nguyenhuulong.jpg', N'javascript:void(0)', N'0918855720', N'nhlong@dthu.edu.vn', 0, CAST(N'2020-03-03T18:22:47.373' AS DateTime), CAST(N'2020-03-08T19:57:16.283' AS DateTime))
INSERT [dbo].[Lecturer] ([Id], [FullName], [Degree], [Url_Image], [Url_Facebook], [Phone], [Email], [Serial], [Create_At], [Update_At]) VALUES (N'ac90d90f-4912-492a-834c-ab7800d1e095', N'Phạm Thế Hùng', N'Thạc sĩ kỹ thuật', N'http://localhost:64062/Media/Uploads/Teacher/phamthehung.jpg', N'javascript:void(0)', N'0918855720', N'pthung@dthu.edu.vn', 0, CAST(N'2020-03-08T19:44:08.423' AS DateTime), CAST(N'2020-03-08T19:57:30.270' AS DateTime))
INSERT [dbo].[Lecturer] ([Id], [FullName], [Degree], [Url_Image], [Url_Facebook], [Phone], [Email], [Serial], [Create_At], [Update_At]) VALUES (N'26621c7d-bd8e-4d45-b603-ab7800d213d8', N'Phạm Quốc Nguyên', N'Tiến sĩ', N'http://localhost:64062/Media/Uploads/Teacher/pqnguyen.jpg', N'javascript:void(0)', N'0983254777', N'pqnguyen@dthu.edu.vn', 0, CAST(N'2020-03-08T19:44:52.130' AS DateTime), CAST(N'2020-03-08T19:57:26.253' AS DateTime))
INSERT [dbo].[Service] ([Id], [Meta_Name], [Meta_Value], [Create_At], [Update_At]) VALUES (N'bf250d15-1c5a-49a3-af43-ab7100b61424', N'Đào tạo chuyên nghiệp', N'Phòng thí nghiệm nghiên cứu chuyên sâu của Khoa với các thiết bị hiện đại. Hiện nay, đã thành lập được Phòng thí nghiệm tiêu chuẩn ISO (Trung tâm Phân tích), đang chuẩn bị thành lập Trại thực nghiệm Thủy sản.', CAST(N'2020-03-01T18:02:55.710' AS DateTime), CAST(N'2020-03-08T18:17:40.143' AS DateTime))
INSERT [dbo].[Service] ([Id], [Meta_Name], [Meta_Value], [Create_At], [Update_At]) VALUES (N'66e74f3f-8bf8-444e-a49a-ab7100f89336', N'Giảng viên tận tâm', N'Đội ngũ giảng viên chuyên nghiệp, trình độ cao, có nhiều kinh nghiệm trong công tác giảng dạy và đào tạo sinh viên. Họ là những con người tâm huyết với nghề, yêu nghề, yêu sinh viên như họ yêu chính cuộc sống của họ.', CAST(N'2020-03-01T22:05:02.043' AS DateTime), CAST(N'2020-03-04T22:52:15.013' AS DateTime))
INSERT [dbo].[Service] ([Id], [Meta_Name], [Meta_Value], [Create_At], [Update_At]) VALUES (N'bc123f1f-8b55-462a-921b-ab7100fa8543', N'Cơ sở hạ tầng tốt', N'Khoa xây dựng chương trình đào tạo, kế hoạch giảng dạy, học tập và chủ trì tổ chức quá trình đào tạo. Xây dựng kế hoạch và tổ chức công tác giáo dục chính trị, tư tưởng, đạo đức, lối sống cho viên chức và người học.', CAST(N'2020-03-01T22:12:07.047' AS DateTime), CAST(N'2020-03-04T22:52:50.610' AS DateTime))
INSERT [dbo].[Stickey] ([Id], [Meta_Name], [Meta_Value], [Create_At], [Update_At]) VALUES (N'1fa003e2-a50b-4964-955f-ab7300d5aea8', N'Facebook', N'https://www.facebook.com/ktcndthu/?epa=SEARCH_BOX', CAST(N'2020-03-03T19:57:59.597' AS DateTime), CAST(N'2020-03-08T19:07:35.397' AS DateTime))
INSERT [dbo].[Stickey] ([Id], [Meta_Name], [Meta_Value], [Create_At], [Update_At]) VALUES (N'ee5ac888-cbd3-4843-8775-ab7300d6369a', N'Home', N'https://www.dthu.edu.vn/', CAST(N'2020-03-03T19:59:55.607' AS DateTime), CAST(N'2020-03-08T19:07:47.903' AS DateTime))
INSERT [dbo].[Stickey] ([Id], [Meta_Name], [Meta_Value], [Create_At], [Update_At]) VALUES (N'53107a67-7a82-4a19-b4e9-ab7300d63cbc', N'Contact', N'/Contact/ContactView', CAST(N'2020-03-03T20:00:00.837' AS DateTime), CAST(N'2020-03-09T00:44:58.323' AS DateTime))
INSERT [dbo].[Student] ([Id], [FullName], [Url_Image], [Content], [Serial], [Create_At], [Update_At]) VALUES (N'5bf0daf8-831c-4f3f-9bf1-ab7300c4a7c2', N'Nguyễn Tuấn Kiệt', N'http://localhost:64062/Media/Uploads/Student/student_Kiet.jpg', N'Nếu bạn muốn được thử thách, Đại học Đồng Tháp là nơi dành cho bạn. Bạn sẽ không chỉ bị thách thức bởi chương trình giảng dạy mà còn bởi tài năng của các sinh viên, môi trường học tập cởi mở và những cơ hội khám phá, trải nghiệm rộng lớn bên ngoài lớp học.', 0, CAST(N'2020-03-03T18:56:00.003' AS DateTime), CAST(N'2020-03-08T19:34:48.670' AS DateTime))
INSERT [dbo].[Student] ([Id], [FullName], [Url_Image], [Content], [Serial], [Create_At], [Update_At]) VALUES (N'1cdc0dd8-2ad9-457b-9ab0-ab7800cc4724', N'Võ Thái An', N'http://localhost:64062/Media/Uploads/Student/student_An.jpg', N'BLĐ Viện và các giảng viên luôn cởi mở chào đón mỗi lần tôi đến công tác, và thể hiện mong muốn tăng cường hợp tác trong đào tạo và nghiên cứu khoa học, nhằm đáp ứng nhu cầu phát triển của Việt Nam trong Thế kỷ 21.', 0, CAST(N'2020-03-08T19:23:45.183' AS DateTime), CAST(N'2020-03-08T19:33:55.000' AS DateTime))
INSERT [dbo].[Student] ([Id], [FullName], [Url_Image], [Content], [Serial], [Create_At], [Update_At]) VALUES (N'e0bb622e-c38e-4e50-9408-ab7800cc80f9', N'Hồ Ngọc Tư Duy', N'http://localhost:64062/Media/Uploads/Student/student_Duy3.jpg', N'Thật sự biết ơn các thế hệ thầy cô đang ngày đêm dạy dỗ để cung cấp cho xã hội các kỹ sư: Năng lực tốt – Cần mẫn làm việc – Đam mê sáng tạo, đây là những tố chất quan trọng nhất của những người muốn sáng tạo và thay đổi thế giới.', 0, CAST(N'2020-03-08T19:24:34.533' AS DateTime), CAST(N'2020-03-10T16:14:28.497' AS DateTime))
INSERT [dbo].[Video] ([Id], [Title], [Description], [Url_Video], [Url_Image], [Serial], [Create_At], [Update_At]) VALUES (N'57cf4d31-2a1c-454f-89e8-ab7300d15d9c', N'Bộ môn Công nghệ thông tin', N'123', N'2I8ai91BkNM', N'http://localhost:64062/Media/Uploads/Video/cntt1.jpg', 0, CAST(N'2020-03-03T19:42:16.623' AS DateTime), CAST(N'2020-03-10T18:54:46.890' AS DateTime))
INSERT [dbo].[Video] ([Id], [Title], [Description], [Url_Video], [Url_Image], [Serial], [Create_At], [Update_At]) VALUES (N'cd9affa3-c909-4910-88de-ab7800c56b17', N'Kỷ niệm 15 năm thành lập trường', N'asdfasf', N'0B4yxGIkhpA', N'http://localhost:64062/Media/Uploads/Video/dthu1.jpg', 0, CAST(N'2020-03-08T18:58:46.687' AS DateTime), CAST(N'2020-03-10T18:55:04.040' AS DateTime))
INSERT [dbo].[Video] ([Id], [Title], [Description], [Url_Video], [Url_Image], [Serial], [Create_At], [Update_At]) VALUES (N'c920828f-1298-4a8d-b26e-ab7800c57c4e', N'Hướng dẫn tân sinh viên', N'sadfasdf', N'hE2VSdZud-k', N'http://localhost:64062/Media/Uploads/Video/huongdansinhvien1.jpg', 0, CAST(N'2020-03-08T18:59:01.377' AS DateTime), CAST(N'2020-03-10T18:54:29.630' AS DateTime))
INSERT [HangFire].[Schema] ([Version]) VALUES (7)
INSERT [HangFire].[Server] ([Id], [Data], [LastHeartbeat]) VALUES (N'desktop-6sghb6v:27208:f860be17-4564-4936-a4f8-49c9714de82d', N'{"WorkerCount":20,"Queues":["default"],"StartedAt":"2020-03-10T16:36:57.2816061Z"}', CAST(N'2020-03-10T16:36:57.403' AS DateTime))
INSERT [HangFire].[Server] ([Id], [Data], [LastHeartbeat]) VALUES (N'desktop-6sghb6v:868:2372a4bf-ac5a-4ded-8fd3-9bf0fdf5abe9', N'{"WorkerCount":20,"Queues":["default"],"StartedAt":"2020-03-10T16:39:44.3962641Z"}', CAST(N'2020-03-10T16:40:44.553' AS DateTime))
/****** Object:  Index [IX_Parent_Id]    Script Date: 03/10/2020 11:43:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_Parent_Id] ON [dbo].[Category_Menu]
(
	[Parent_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Parent_Id]    Script Date: 03/10/2020 11:43:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_Parent_Id] ON [dbo].[Category_News]
(
	[Parent_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Account_ID]    Script Date: 03/10/2020 11:43:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_Account_ID] ON [dbo].[Detail_Menu]
(
	[Account_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Category_Menu_Id]    Script Date: 03/10/2020 11:43:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_Category_Menu_Id] ON [dbo].[Detail_Menu]
(
	[Category_Menu_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Account_ID]    Script Date: 03/10/2020 11:43:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_Account_ID] ON [dbo].[Detail_News]
(
	[Account_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Category_News_Id]    Script Date: 03/10/2020 11:43:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_Category_News_Id] ON [dbo].[Detail_News]
(
	[Category_News_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HangFire_AggregatedCounter_ExpireAt]    Script Date: 03/10/2020 11:43:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_HangFire_AggregatedCounter_ExpireAt] ON [HangFire].[AggregatedCounter]
(
	[ExpireAt] ASC
)
WHERE ([ExpireAt] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HangFire_Hash_ExpireAt]    Script Date: 03/10/2020 11:43:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_HangFire_Hash_ExpireAt] ON [HangFire].[Hash]
(
	[ExpireAt] ASC
)
WHERE ([ExpireAt] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HangFire_Job_ExpireAt]    Script Date: 03/10/2020 11:43:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_HangFire_Job_ExpireAt] ON [HangFire].[Job]
(
	[ExpireAt] ASC
)
INCLUDE([StateName]) 
WHERE ([ExpireAt] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HangFire_Job_StateName]    Script Date: 03/10/2020 11:43:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_HangFire_Job_StateName] ON [HangFire].[Job]
(
	[StateName] ASC
)
WHERE ([StateName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HangFire_List_ExpireAt]    Script Date: 03/10/2020 11:43:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_HangFire_List_ExpireAt] ON [HangFire].[List]
(
	[ExpireAt] ASC
)
WHERE ([ExpireAt] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HangFire_Server_LastHeartbeat]    Script Date: 03/10/2020 11:43:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_HangFire_Server_LastHeartbeat] ON [HangFire].[Server]
(
	[LastHeartbeat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HangFire_Set_ExpireAt]    Script Date: 03/10/2020 11:43:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_HangFire_Set_ExpireAt] ON [HangFire].[Set]
(
	[ExpireAt] ASC
)
WHERE ([ExpireAt] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HangFire_Set_Score]    Script Date: 03/10/2020 11:43:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_HangFire_Set_Score] ON [HangFire].[Set]
(
	[Key] ASC,
	[Score] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF_Account_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Ads] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [Create_At]
GO
ALTER TABLE [dbo].[Ads] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [Update_At]
GO
ALTER TABLE [dbo].[Banner] ADD  DEFAULT ((0)) FOR [Serial]
GO
ALTER TABLE [dbo].[Category_Menu] ADD  DEFAULT ((0)) FOR [Serial]
GO
ALTER TABLE [dbo].[Category_News] ADD  DEFAULT ((0)) FOR [Serial]
GO
ALTER TABLE [dbo].[Category_Menu]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Category_Menu_dbo.Category_Menu_Parent_Id] FOREIGN KEY([Parent_Id])
REFERENCES [dbo].[Category_Menu] ([Id])
GO
ALTER TABLE [dbo].[Category_Menu] CHECK CONSTRAINT [FK_dbo.Category_Menu_dbo.Category_Menu_Parent_Id]
GO
ALTER TABLE [dbo].[Category_News]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Category_News_dbo.Category_News_Parent_Id] FOREIGN KEY([Parent_Id])
REFERENCES [dbo].[Category_News] ([Id])
GO
ALTER TABLE [dbo].[Category_News] CHECK CONSTRAINT [FK_dbo.Category_News_dbo.Category_News_Parent_Id]
GO
ALTER TABLE [dbo].[Detail_Menu]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Detail_Menu_dbo.Account_Account_ID] FOREIGN KEY([Account_ID])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Detail_Menu] CHECK CONSTRAINT [FK_dbo.Detail_Menu_dbo.Account_Account_ID]
GO
ALTER TABLE [dbo].[Detail_Menu]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Detail_Menu_dbo.Category_Menu_Category_Menu_Id] FOREIGN KEY([Category_Menu_Id])
REFERENCES [dbo].[Category_Menu] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Detail_Menu] CHECK CONSTRAINT [FK_dbo.Detail_Menu_dbo.Category_Menu_Category_Menu_Id]
GO
ALTER TABLE [dbo].[Detail_News]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Detail_News_dbo.Account_Account_ID] FOREIGN KEY([Account_ID])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Detail_News] CHECK CONSTRAINT [FK_dbo.Detail_News_dbo.Account_Account_ID]
GO
ALTER TABLE [dbo].[Detail_News]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Detail_News_dbo.Category_News_Category_News_Id] FOREIGN KEY([Category_News_Id])
REFERENCES [dbo].[Category_News] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Detail_News] CHECK CONSTRAINT [FK_dbo.Detail_News_dbo.Category_News_Category_News_Id]
GO
ALTER TABLE [HangFire].[JobParameter]  WITH CHECK ADD  CONSTRAINT [FK_HangFire_JobParameter_Job] FOREIGN KEY([JobId])
REFERENCES [HangFire].[Job] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [HangFire].[JobParameter] CHECK CONSTRAINT [FK_HangFire_JobParameter_Job]
GO
ALTER TABLE [HangFire].[State]  WITH CHECK ADD  CONSTRAINT [FK_HangFire_State_Job] FOREIGN KEY([JobId])
REFERENCES [HangFire].[Job] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [HangFire].[State] CHECK CONSTRAINT [FK_HangFire_State_Job]
GO
USE [master]
GO
